html, body {
    /* background-image: linear-gradient(to bottom, rgb(230, 224, 216), rgb(245, 244, 244) 40%); */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


*:focus {
    outline: none !important;
}

body {
    background-image: linear-gradient(to bottom, rgb(235, 236, 245) 80%, rgba(63, 36, 170, 0.2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

/* width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
 */

#about-me-text {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Germania One', cursive;
    background-color: rgba(63, 36, 170, 0.4);
    box-shadow: 0 0px 15px #95adb9;
    text-shadow: 1px 1px rgb(182, 182, 182, 0.2);
}



h1 {
    text-shadow: 2px 2px rgb(182, 182, 182);
}

#title {
    font-family: 'Girassol', cursive;
    font-size: 50px;
    text-shadow: 2px 2px rgb(182, 182, 182);
    padding: 0;
    float: left;
}

.nav {
    box-shadow: 0 5px 20px #95adb9;
    background-color: rgba(112, 216, 241, 0.9);
    padding: 0 1rem !important;
    /* background-image: linear-gradient(to right, rgb(88, 88, 247), white, rgb(88, 88, 247)) */
    z-index: 1;
}

ul {
    padding: 0;
}

li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    padding: 0.86rem;
    margin-top: 15px;
}

li h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

li a {
    display: inline-block;
    width: fit-content;
    position: relative;
}

li a:hover {
    color: rgb(8, 8, 129);
}

li a::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #181717;
    width: 0;
    height: 3px;
    top: -20px;
    transition: width ease 250ms;
}

nav a:hover::before {
    width: 100%;
}

.name {
    font-weight: 800;
}

#resumeBtn {
    color: black;
    padding: 10px;
    border: 1px solid blue;
    background-color: rgb(241, 241, 255);
    border-radius: 15px;
    transition-property: transform, box-shadow;
    box-shadow: 0 0 rgb(161, 173, 243, 0.3);
    transform: translateY(3px);
    transition-duration: 0.3s;
}

#resumeBtn:hover {
    background-color: rgb(180, 190, 219);
    transition-property: transform, box-shadow;
    transform: translateY(-3px);
    box-shadow: 0 7px rgb(161, 173, 243, 0.3);
    transition-duration: 0.3s;
}

#resumeBtn:active {
    transition-property: transform, box-shadow;
    transform: translateY(3px);
    box-shadow: 0 0 rgb(161, 173, 243, 0.3);
}

.icon {
    margin-left: 20px;
    font-size: 60px !important;
}

.icon:hover {
    transition: color 1s;
    color: rgb(16, 5, 163) !important;
}

.github {
    margin: 0;
}

.card {
    display: inline-block;
    height: 450px;
    box-shadow: 7px 10px 15px #1d1c1c33 !important;
}

.card:hover {
    box-shadow: 0 0 25px rgb(20, 20, 20) !important;
}

.cardMedia {
    width: 373px;
    height: 222.48px;
}

.cardTitle {
    color: black;
    font-weight: 500 !important;
}

.technologies {
    color: rgb(31, 30, 107);
    /* font-weight: 500; */
}

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}

.myInfo {
    position: relative;
    margin: 1rem auto 0;
    /* top: -100px; */
}

.profileImg {
    /* margin-top: 15px; */
    position: relative;
    padding: 0;
    /* border: 20px solid white; */
    border: 10px solid rgba(255,255,255, 0);
    box-shadow: 0 5px 20px #95adb9;
    display: block;
    margin: 0 auto;
    /* border-radius: 75px; */
    border-radius: 50%;
    object-fit: cover;
}

.main {
    position: relative;
    background-color: lightblue;
    /* margin-top: 165px; */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    /* background-image: url('https://images.all-free-download.com/images/graphiclarge/sunlight_burst_blue_vector_background_569858.jpg'); */
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 15px 15px #95adb9;
}
/* 
.image-container {
    background: url('https://pe-images.s3.amazonaws.com/type/effects/cc/transparent-background/new-background.jpg');
    background-size: cover;
} */

.footer {
    background: none !important;
    /* background-color: rgb(245, 244, 244) !important; */
}

  @media only screen and (max-width: 991px) {
    .myInfo {
        margin-left: 0;
    }
    .profileImg {
        margin: 15px auto;
    }
  }

  @media only screen and (max-width: 826px) {
      .title {
          float: none;
          margin: 0 auto;
      }
      ul {
          margin: 0 auto;
      }
  }

  @media only screen and (max-width: 766px) {
    .profileImg {
        min-width: 420px;
    }
  }

  @media only screen and (max-width: 767px) {
    .profileImg {
        width: 420px;
    }
  }

  @media only screen and (max-width: 611px) {
      .title {
          width: 100%;
          text-align: center;
      }
      ul {
          padding: 0;
      }
    li {
        float: none;
        text-align: center;
    }
  }

  @keyframes shadow {
    100% {box-shadow: 0 7px rgb(161, 173, 243, 0.3);}
  }

  @keyframes click {
    100% {box-shadow: 0 3px rgb(161, 173, 243, 0.3);}
  }